* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;

}
nav{
    margin:0;
    padding:0 90px;
    justify-content:space-between;
    width: 100%;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 16px;
}
li {
    list-style: none;
    cursor: pointer;
    padding: 10px 0px;
    margin: 10px 15px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

  }
  nav button {
    padding: 10px 30px;
    font-weight: 700;
    width: fit-content;
  }
  a {
    text-decoration: none;
    color: black;
  }
main {
    margin:30px 10px;
    padding: 10px 100px;
   display: flex;
   align-items: center;

}

main h1 {
font-family: 'Montserrat', sans-serif;
font-weight: 700;
color:#090449;
font-size: 65px;
padding: 10px 150px 30px 0;
}
span{
  color: #5D3891;
}
.main-right{
  margin-right: 20px;
  margin-left: 10px;
  position: relative;
 left: 40px;
}

p{
  padding-bottom: 50px;
  font-family:'Montserrat', sans-serif ;
  color: grey;
  line-height: 30px;
}
button {
    background-color: #5D3891;
    padding: 20px 40px;
    cursor: pointer;
    color: white;
   border: none;
    font-weight: 700;
    font-size: large;
    width: fit-content;
    border-radius: 10px;
  }
  
  button:hover {
    background-color: white;
    color: #5D3891;
  }
  main img{
   width: 700px;
  
  }